{% extends 'common/base.html' %}
{% load static %}
{% load humanize %}
{% block header %}
    {% include 'common/header/complex_header_base.html' %}
    <script type="text/javascript" src="{% static 'apps/base/business_facility/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/base/business_facility/css/list.css' %}">
{% endblock %}
{% block title %}
    사업 시설 별 운영 프로그램
{% endblock %}
{% block contents %}
    <article class="context-horizontal-center">
        <section class="list-default">
        {% if screen_user_comment %}
        <div class="tooltip buttonToolbar">
            <span class="button information" onclick="showTooltip()">화면 설명</span>
            <div class="tooltip-text">{{ screen_user_comment|linebreaksbr }}</div>
        </div>
        {% endif %}
        <section class="buttonToolbar flex-between" dir="rtl">
            <section>
                <button id="table-delete" class="button delete">정보 삭제</button>
            </section>
            <section>
                <p>조회량 전체: <span style='color:red;'>　{{object_list|length}}</span></p>
            </section>
        </section>
        <table class="table table-bordered" id="table">
            <colgroup></colgroup>
            <thead>
                <th>사업-시설</th>
                <th>프로그램 명</th>
                <th>시작년도</th>
                <th>비고</th>
                <th>폐쇄일자</th>
                <th>기능</th>
            </thead>
            <tbody class="input-row">
                <tr>
                    {% csrf_token %}
                    <td>
                        <select name="business_facility_id" class="form-element-default" required>
                        {% for business_facility in business_facility_list %}
                            <option value="{{ business_facility.id }}">{{ business_facility.business.name }} - {{  business_facility.name }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" class="form-element-default" name="name"></td>
                    <td><input type="text" class="form-element-default input year" name="start_year"></td>
                    <td><textarea class="form-element-default" name="comment"></textarea></td>
                    <td><input type="date" name="close_date" class="form-element-default"></td>
                    <td class="text-center"><input class="button add" type="submit" value="등록" onclick="defaultPost(event, 'tr' ,'/base/business-facility-operation-program/api')"></td>
                </tr>
            </tbody>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <input type="hidden" name="id" value="{{ object.id }}">
                            <input type="hidden" name="business_facility_id" value="{{ object.business_facility_id }}">
                            {{ object.business_facility.name }}
                        </td>
                        <td>{{ object.name }}</td>
                        <td class="text-right">{{ object.start_year }}</td>
                        <td>{{ object.close_date|default_if_none:'' }}</td>
                        <td>{{ object.comment|default_if_none:'' }}</td>
                        <td class="text-center"><button class="button update" onclick="changeToEditMode(this,'/base/business-facility-operation-program/api')">수정</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </article>
{% endblock %}