{% load static %}
<script type="text/javascript" src="{% static 'components/file_box/js/file_box.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'components/file_box/css/file_box.css' %}" />
<div class="file-box">
    <input type="file" name="file" class="hidden">
    <span class="button add" onclick="createFileInput()">선택</span>
    <span class="button popup">내역 확인</span>

    <div class="modal modal-file-list">
        <div class="modal-content">
            <div class="overflow-y">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <section class="flex-between">
                            <span> 파일 목록 </span>
                            <span style="color:red; cursor:pointer" onclick="closeModal(this)">X</span>
                        </section>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered" id="file-list-table">
                            <colgroup>
                                <col width="60%">
                                <col width="18%">
                                <col width="22%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>파일명</th>
                                <th>상태</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="hidden image-modal">
                <img style="width:400px;height:400px">
            </div>
            </div>
        </div>
    </div>
</div>
