.menu:hover {
    border:1px solid #7e7e7e;
    color:#7e7e7e;
    cursor:pointer;
}
.loginWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.loginWrap .loginBox {
    border:1px solid #ddd;
    box-shadow: 0 0 5px #dbdbdb;
    padding:10px 15px;
    border-radius: 3px;
    width:48%;
    margin-top:20px;
    border-left:4px solid #8dd78f;
}
.loginBox:first-child, .loginBox:nth-child(2) {
    margin:0;
}
.loginBox.super {
    border-left:4px solid #8172d1;
}
.loginBox.super .data {
    color:#8172d1;
}
.loginBox .loginInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loginInfo + .loginInfo {
    margin-top:8px;
}
.loginInfo .title {
    color:#a3a3a3;
}
.loginInfo .data {
    color:#57c164;
}
.loginInfoModal .search-modal-content {
    width:570px;
    margin-top:30px !important;
}

.func {
    top:calc(5% - 16px);
    right:25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.func_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.func_btn {
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ff80c0;
    color: #ff80c0;
    padding: 5px 10px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px #d1d1d1;
    text-decoration: none;
}
.func_btn.logout_btn {
    border: 1px solid #ff8d00;
    color: #ff8d00;
}
.func_btn.login_btn {
    border: 1px solid #26b587;
    color: #26b587;
}
.func_btn + .func_btn{
    margin-left:15px;
}
.func_btn:hover {
    border:1px solid #7e7e7e;
    color:#7e7e7e;
}
.func_btn:link, .func_btn:active, .func_btn:visited {
    text-decoration: none;
}
.func_box .glyphicon {
    margin-right:5px;
}
.func_line {
    width: 1px;
    height: 14px;
    background: #b1b1b1;
    margin:0 15px;
}
@media screen and (max-width:1560px) {
    .func {
        position: static;
        justify-content: flex-end;
        margin-bottom:10px;
        clear:both;
    }
}
@media screen and (max-width:600px) {
    .func_btn .func_title {
        display: none;
    }
    .func_box .func_btn {
        width:40px;
        height:30px;
        justify-content: center;
    }
    .func_box .func_btn .glyphicon {
        margin:0;
    }
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:21px;
    color:#5e8bcf;
}
.remain_time {
    font-size:17px;
}
.extension_btn {
    margin-left: 15px;
    color: white;
    background: #498cd1;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 50px;
}
.extension_btn:hover {
    opacity: 0.9;
}
/* nav */
.nav::after{
    content:none;
}
nav .menu-list-container{
    display: inline-flex;
    height: 100%;
    padding-top:6px;
}
/* container-fluid */
nav .container-fluid {
    padding:0 15px !important;
}
.nav.menu-list::before{
    content:none;
}
.nav.menu-list {
    display:grid;
    grid-template-columns: 80% 16%;
    grid-auto-rows: 50px;
    grid-gap:4%;
}
.subtitle{
    padding-left: 5px;
    font-size:1.2rem;
}

.title-brand{
    display:block;
    color:#777;
    font-size:25px;
    padding-left:30px;
    padding-top:10px;
}
.nav {
    background:#fbfbfb;
    display:grid;
    grid-template-columns: 200px repeat(auto-fill, minmax(150px, 100%));
    border-bottom:1px solid #eee;
}
.nav .menu:hover{
    color: #7070f8;
}
.dropdown-toggler{
    color:#333;
    font-size:15px;
    font-weight:bold;
    background-color:transparent;
}
.dropdown-toggler[aria-expanded='true']{
    background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
    box-shadow: 0 7px #666;
    /*box-shadow: inset 0 3px 9px rgb(0 0 0 / 8%);*/
    color: #7070f8;
}
.menu-list-section{
    position:relative;
}
.dropdown-toggler{
    border:none;
    position: relative;
    display: block;
    padding: 10px 15px;
}
.dropdown-element{
    padding:5px;
}
.dropdown.section{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin-top:7px;
    display: none;
    float: left;
    min-width: 160px;
    width:max-content;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.menu-list.dropdown.section .menu-list.dropdown.section{
    position:relative;
    width:100%;
    padding-bottom:10px;
}
.menu-list.dropdown.section > li{
    width:100%;
}
.menu-list.dropdown.section > li > a{
    padding-left:15px;
    padding-bottom:10px;
}

.menu-list.dropdown.section .dropdown-toggler{
    width:100%;
}
.menu-list.dropdown.section .menu{
    width:100%;
    float:left;
    padding-left:5px;
}
@media screen and (max-width:769px) {
    .nav{
        display:flex;
        flex-direction: column;
    }
    .nav.rotatable-horizontal .nav.flexible.menu-list > ul{
        flex-direction: column;
    }
    .pc-hidden{
        display:block;
    }
    button.pc-hidden {
        margin:15px;
        pointer:cursor;
    }
    .dropdown.section{
        position:relative;
    }

    .nav-header{
        border-bottom:1px solid #cecece;
        background:white;
        line-height: 2.2;
    }
}
@media screen and (min-width:770px) {
    .pc-hidden{
        display:none;
    }
}
.nav-header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    line-height: 2.2;
}

.menu-list.dropdown.section.open > li:nth-child(n+2) > section > p{
    border-top:1px solid #cecece;
}

/********************************************** page-dropdown template setting ****************************************/
.table-dropdown-body tbody, .table-dropdown-body tbody tr{
    border:none;
}

.table-dropdown-body td{
    height:30px;
    border:none;
}
