/*********************************************** template default for design ******************************************/


/*********************************************** grid template design *************************************************/
/****  grid left top main ****/
.grid-left-top-main-container{
    display:grid;
    grid-template-areas:
            'left header'
            'left main';
    grid-template-columns:15% 85%;
    grid-template-rows:5% 95%;
    margin-left:0;
    margin-top:0;
    margin-bottom:1px;
    margin-right:1px;
}
.grid-left-top-main-container .grid-header{
    grid-area:header;
    box-shadow: 4px 7px 6px 0px #dddada;

}
.grid-left-top-main-container .grid-header .list-default{
    margin-top:10px;
}

.grid-left-top-main-container .grid-left{
    grid-area:left;
    box-shadow: inset -4px 0px 6px 0px #dddada;
}
.grid-left-top-main-container .grid-main{
    grid-area:main;
}
.grid-left-top-main-container .grid-main > *:not(:last-child){
    margin-bottom:0.5em;
}
.grid-left-top-main-container .grid-header .left-icon-menu,
.grid-left-top-main-container .grid-header .left-icon-menu
{
    height:200px;
}
.grid-left-top-main-container .grid-header .tab-container{
    float:right;
}
.grid-left-top-main-container .grid-header .tab-container .body table,
.grid-left-top-main-container .grid-header .tab-container .body table tr,
.grid-left-top-main-container .grid-header .tab-container .body table th{
    width:200px;
}
.grid-left-top-main-container .grid-header .tab-container .body table th{
    text-align: center;
}

.grid-left-top-main-container .grid-main .screen-title{
    font-size:27px;
}
.grid-left-top-main-container .grid-main > *{
    margin-left:1vw;
}


/****  grid column pair ****/
.grid-column-pair{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:10%;
}
.grid.nine-one{
    grid-template-columns:90% 10%; grid-gap:15px;
}
.grid.file-box{
    padding-bottom:15px;grid-template-columns:0% 60% 30%;
}
.grid.file-box label{
    cursor:pointer;
}
/*********************************************** template batch *******************************************************/
.list-default > *:not(:last-child){
    margin-bottom:0.3em;
}
.list-default > *{
    margin-left:0.5rem;
    margin-right:0.5rem;
}

form{
    margin-block-end:0;
}

.among{
/*  두 개의 주요 element 와 그 사이의 꾸밈자 배치 용도 */
    display:flex;
    gap:10px;
    border:0 !important;
}
.among span{
    line-height:2.5;
}

.clear{
    color:black;
}
.count{
    background:#81D3F883;
    padding:13px;
    border-radius: 4px;
    margin-right:10px;
}

.border-default{
    border:1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.background-default{
    background:#ddd;
    margin-top: 10px;
}
.selected {
    border-bottom:2px solid #252 !important;
}
/******************************************************** button *******************************************************/
.act {
    background: rgba(206, 206, 206, 0.68);
}
.button:disabled, button:disabled{
    background:#cecece;
    color:#eeeeee;
}
button:hover, .button:hover{
    cursor:pointer;
}
.button:not(disabled):hover, button:not(disabled):hover {
  color:#cecece;
  box-shadow: 0 5px #666;
  cursor:pointer;
}
.button.border-none{
    border:none;
    box-shadow:2px 3px 6px 0px #ccadad;
}
.button:active, button:active {
  background-color: #3e8e41; /* use for mutation observer to detect button click event */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttonToolbar {
    margin-bottom:7px;
}
.buttonToolbar.bottom{
    border-top:1px solid #ccc;
    padding-top: 10px;
}
.buttonToolbar *{
    margin-right:3px;
}
.buttonToolbar:last-child{
    margin-right:0;
}
.buttonToolbar .button, .buttonToolbar a{
    padding:6px 20px;
    font-size:15px;
}
.buttonToolbar button:disabled, .buttonToolbar a:disabled {
    background:#ddd;
}
.button {
    display:inline-block;
    box-sizing: border-box;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    text-align:center;
    vertical-align: center;
    cursor:pointer;
    background-color:rgb(255, 255, 255);
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}
.checkAll{
    background:#169BD5;
}
.button.middle-long{
    padding:5px 20px;
}

.save{
    background:linear-gradient(#53c0b9, #63dc82);
}
.close{
    background-image: linear-gradient(to top, #280619 0, #9a9a9a 70%);
}
.reset {
    background-image: linear-gradient(to top, #b3c9b3 0, #d4f1d4 100%);
}
.yes{
    background:green;
}
.no{
    background: #e5e5a9;
}
.download{
    cursor:pointer;
}
.button.download{
    background: #53c0b9;
}
.modal-show{
    background: #5f5f5f;
    color:white;
}

/****************************************************** background color for usage ************************************/
.add{
    background:#169BD5;
}
.delete{
    background: #D9001B;
}
.button.link{
    background:rgb(0, 170, 170);
}
.popup{
    background: #8080FF;
}
.function{
    background: #63A013FE;
}
.back{
    background: #555555;
}
.information{
    background:#fbb22b;
}
.search{
    color:black;
}
.cancel{
    background: #555555;
}
.work-standard{
    background: #8577d7;
}
.visible-toggler{
    padding:0.3em;
}
.visible-toggler[data-toggle=on]{
    background: #8080e0;
    color:white;
}
.visible-toggler[data-toggle=off]{
    background:gray;
    color:white;
}

/*********************************************** main and content *****************************************************/
.content-title{
    background:white;
    border:2px solid whitesmoke;
    padding-top:5px;
    padding-bottom:5px;
    box-shadow:-1px 2px 0 #ced6dc;
    text-indent:2px;
    filter: drop-shadow(0px 1px 1px whitesmoke) ;
}

.screen-background-shadow{
    background: #f4f4f466;
}
.box-shadow-below-diagonal{
    box-shadow: 14px 18px 5px 0rem rgb(202 218 236 / 25%);
}
/* for content title */
.box-shadow-underscore{
    box-shadow:inset 0px -5px 0 #9ad8fd;
}
.content-background{
    background:white;
}
.content-title{
    background: white;
    font-weight:bold;
    font-size:1.1em;
}
/************************************************ color for usage *****************************************************/
.word-information{
    color:#342bfb;
    font-weight:bold;
}
/******************************************************* scroll *******************************************************/
.scroll-container{
    overflow:auto;
}
.scroll-element {
    white-space:nowrap;
    max-width:none;
}
/******************************************************* tap container ************************************************/
.tab.container{}
.tab.header{
    display:flex;
    width:100%;
}
.switch-tab-list{
    height: 30px;
    color: #ccc;
    font-weight: bold;
}

.switch-tab-list li{
    border:3px solid #ccc;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    line-height: 1.6;
    padding-left:30px;
    padding-right:30px;
    cursor:pointer;
    border-bottom:none;
}

.switch-tab-list li:hover{
    color: #8c7f6c;
    border-top-color:#8c7f6c;
    opacity: 0.9 !important;
}
.switch-tab-list li.act{
    background:white;
    color:#8c7f6c;
    border-left:1px solid #8c7f6c;
    border-right:1px solid #8c7f6c;
    border-top-color:#8c7f6c;
}
.switch-tab-list li:not(.act){
    background:white;
    color:#8c7f6c;
    opacity:0.5;
}
main .tab-container .body{
    border:1px solid #8c7f6c;
    border-radius: 2px;
}
.switch.left{
    background:linear-gradient(to right, #828282, #313131);
}
.switch.right{
    background:linear-gradient(to left, #6bb9fb, #1e80e6);
}

/* overflow*/
.overflow-y{
    overflow-y: auto;
}
.overflow-y.md{
    max-height: 680px;
}
/***************************************************** pagination  ****************************************************/
.current-target {
    background: rgba(246, 241, 23, 0.84) !important;
}
.page-link{
    cursor:pointer;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
/************************************************* content insertion **************************************************/
.notify-new:after {
    content:'(신규)';
    color:red
}
.plus-block:after{
    content:'신규 추가';
    cursor:pointer;
    color:white;
    background:blue;
    border-radius: 4px;
    padding:10px;
}
/************************************************* tool tip ***********************************************************/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

  /* Tooltip text */
.tooltip .tooltip-text {

    width: 300px;
    background-color: #f39800;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    height:max-content;
    opacity: 0;
    transition-property:opacity;
    transition-duration:1s;
    transition-timing-function: ease-in-out;
}

  /* Show the tooltip on hover - do not use because of coordinate control */

  /*.tooltip:hover .tooltip-text {*/
  /*  visibility: visible;*/
  /*  opacity: 1;*/
  /*}*/
