.accounting-panel{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.panel-body{
    padding-top:10px;
    border: 2px solid #f39800;
    border-radius: 4px;
    background: rgba(230,230,230,0.3)
}
.search-field-row{
    display:grid;
    grid-template-columns: 20% 78%;
    grid-gap:2%;
}