{% extends 'common/base.html' %}
{% load static %}
{% block header %}
    {% include 'common/header/complex_header_base.html' %}
    <script type="text/javascript" src="{% static 'apps/base/team/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/base/team/css/list.css' %}" />
{% endblock %}
{% block title %}
    팀 관리
{% endblock %}
{% block contents %}
    <article class="context-horizontal-center">
        <section class="list-default">
        {% if screen_user_comment %}
        <div class="tooltip buttonToolbar">
            <span class="button information" onclick="showTooltip()">화면 설명</span>
            <div class="tooltip-text">{{ screen_user_comment|linebreaksbr }}</div>
        </div>
        {% endif %}
        <section class="buttonToolbar flex-between">
            <section>
                <p>조회량 전체: <span style='color:red;'>　{{object_list|length}}</span></p>
            </section>
            <section>
                <button id="table-delete" class="button delete">정보 삭제</button>
            </section>
        </section>
        <table class="table table-bordered" id="table">
            <colgroup>

            </colgroup>
            <thead>
                <th>팀명</th>
                <th>설명</th>
                <th>관리</th>
            </thead>
            <tbody class="input-row">
                <tr>
                    {% csrf_token %}
                    <td><input type="text" class="form-element-default" name="name" required></td>
                    <td><input type="text" class="form-element-default" name="description"></td>
                    <td class="text-center"><input class="button add" type="submit" value="등록" onclick="defaultPost(event, 'tr' ,'/base/team/api/')"></td>
                </tr>
            </tbody>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><input type="hidden" name="id" value="{{ object.id }}">
                            <a href="{% url 'team_member_list' pk=object.id %}">{{ object.name }}</a></td>
                        <td>{{ object.description|default_if_none:'' }}</td>
                        <td class="text-center"><button class="button update" onclick="changeToEditMode(this,'/base/team/api/')">수정</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>

    </article>
{% endblock %}