{% extends 'common/base.html' %}
{% load static %}
{% block header %}
    {% include 'common/header/complex_header_base.html' %}
    <script type="text/javascript" src="{% static 'apps/base/code_table/js/adjustment_item_code_list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/base/code_table/css/list.css' %}">
{% endblock %}
{% block title %}
    {{ title }} 조정 코드 사용 관리
{% endblock %}
{% block contents %}
    {% csrf_token %}
    <input type="hidden" name="year" id="year" value="{{ year }}">
    <input type="hidden" name="editable" id="editable" value="{{ editable }}">
    <article class="context-horizontal-center">
        <section class="list-default">
        {% if screen_user_comment %}
        <div class="tooltip buttonToolbar">
            <span class="button information" onclick="showTooltip()">화면 설명</span>
            <div class="tooltip-text">{{ screen_user_comment|linebreaksbr }}</div>
        </div>
        {% endif %}
        <section class="buttonToolbar flex-between">
            <section>
                <p>조회량 전체: <span style='color:red;'>　{{object_list|length}}</span></p>
            </section>
            <section>
                <button class="button save" id="save">저장</button>
            </section>
        </section>
        <table class="table table-bordered" id="table">
            <colgroup>
            </colgroup>
            <thead>
                <tr>
                    <th>코드</th>
                    <th>종류</th>
                    <th>명칭</th>
                    <th>설명</th>
                    <th>사용 여부</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <input type="hidden" name="id" value="{{ object.id }}">
                            {% if object.adjustment_item  %}
                            <input type="hidden" name="adjustment_item_id" value="{{ object.adjustment_item.id }}">
                            {% endif %}
                            {{ object.code }}
                        </td>
                        <td>{{ object.type }}</td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.comment|default_if_none:'' }}</td>
                        <td class="text-center">
                            <input type="checkbox" class="form-element-default" name="usage"
                                   {% if object.adjustment_item %}checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </article>
{% endblock %}