{% extends 'common/base.html' %}
{% load static %}
{% block header %}

    <script type="text/javascript" src="{% static 'apps/base/code_table/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/base/code_table/css/list.css' %}">
{% endblock %}
{% block title %}
    {{ title }} 코드 관리
{% endblock %}
{% block contents %}
    <article class="context-horizontal-center">
        <section class="list-default">
        <section class="buttonToolbar flex-between" dir="rtl">
            <section>
                <button id="table-delete" class="button delete">정보 삭제</button>
            </section>
            <section>
                <p>조회량 전체: <span style='color:red;'>　{{object_list|length}}</span></p>
            </section>
        </section>
        <table class="table table-bordered" id="table">
            <colgroup>

            </colgroup>
            <thead>
                <th>분류</th>
                <th>레벨</th>
                <th>상위 코드</th>
                <th>상위 코드명</th>
                <th>종류</th>
                <th>코드</th>
                <th>명칭</th>
                <th>설명</th>
                <th>기능</th>
            </thead>
            <tbody class="input-row">
                <tr>
                    <td><input type="text" class="form-element-default" name="category" {% if parent %} value="{{ parent.category }}" readonly {% endif %}></td>
                    <td><input type="number" class="form-element-default" name="level" value="{{ level }}" readonly></td>
                    <td>{% csrf_token %}
                        <input type="hidden" name="root_id" value="{{ parent.root.id }}">
                        <input type="hidden" name="parent_id" value="{{ parent.id }}">
                        <input type="text" class="form-element-default" name="parent_name" value="{{ parent.code }}" readonly> </td>
                    <td><input type="text" class="form-element-default" name="parent_code_name" value="{{parent.name}}"readonly ></td>
                    <td><input type="text" class="form-element-default" name="type"></td>
                    <td><input type="text" class="form-element-default" name="code"></td>
                    <td><input type="text" class="form-element-default" name="name"></td>
                    <td><textarea class="form-element-default" name="comment"></textarea></td>
                    <td class="text-center"><input class="button create" type="submit" value="등록" onclick="defaultPost(event, 'tr' ,'/base/code-table/api')"></td>
                </tr>
            </tbody>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.category|default_if_none:'' }}</td>
                        <td>{{ object.level|default_if_none:'' }}</td>
                        <td>
                            <input type="hidden" name="id" value="{{ object.id }}">
                            <input type="hidden" name="parent_id" value="{{ object.parent.id }}">
                            <input type="hidden" name="root_id" value="{{ object.root.id }}">
                            {{ object.parent.code|default_if_none:'' }}</td>
                        <td>{{ object.parent.name|default_if_none:'' }}</td>
                        <td>{{ object.type|default_if_none:'' }}</td>
                        <td>{{ object.code|default_if_none:'' }}</td>
                        <td>
                            <a href="{% url 'code_table_child_list' parent_id=object.id %}">{{ object.name|default_if_none:'' }}</a>
                        </td>
                        <td>{{ object.comment|default_if_none:'' }}</td>
                        <td class="text-center"><button class="button update" onclick="changeToEditMode(this,'/base/code-table/api')">수정</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </article>
{% endblock %}