.list-default, table{
    width:1400px;
}
table td:first-child, table th:first-child {
    width:100px;
}

#table th:first-child, #table td:first-child{
    width:250px;
}
#table th:nth-child(3){
    width:70px;
}