{% extends 'common/base.html' %}
{% load static %}
{% block header %}
    {% include 'common/header/complex_header_base.html' %}
    <script type="text/javascript" src="{% static 'apps/base/business/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/base/business/css/list.css' %}">
{% endblock %}
{% block title %}
    사업 관리
{% endblock %}
{% block contents %}
    <article class="context-horizontal-center">
        <section class="list-default">
        {% if screen_user_comment %}
        <div class="tooltip buttonToolbar">
            <span class="button information" onclick="showTooltip()">화면 설명</span>
            <div class="tooltip-text">{{ screen_user_comment|linebreaksbr }}</div>
        </div>
        {% endif %}
        <section class="buttonToolbar flex-between">
            <section>
                <p>조회량 전체: <span style='color:red;'>{{object_list|length}}</span></p>
            </section>
            <section>
                <button id="table-delete" class="button delete">정보 삭제</button>
            </section>
        </section>

        <table class="table table-bordered" id="table">
            <colgroup>

            </colgroup>
            <thead>
                <th>팀</th>
                <th>사업명</th>
                <th>구분</th>
                <th>비고</th>
                <th>기능</th>
            </thead>
            <tbody class="input-row">
                <tr>
                    {% csrf_token %}
                    <td><select name="team_id" class="form-element-default" required>
                        {% for team in team_list %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td><input type="text" class="form-element-default" name="name"></td>
                    <td>
                        <select name="type_code_id" class="form-element-default" required>
                        {% for type_code in business_type_code_list %}
                            <option value="{{ type_code.id }}">{{ type_code.name }}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td><textarea class="form-element-default" name="comment"></textarea></td>
                    <td class="text-center"><input class="button add" type="submit" value="등록" onclick="defaultPost(event, 'tr' ,'/base/business/api/')"></td>
                </tr>
            </tbody>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <input type="hidden" name="id" value="{{ object.id }}">
                            <input type="hidden" name="team_id" value="{{ object.team.id }}">
                            <input type="hidden" name="create_dt" value="{{ object.create_dt|date:'Y-m-d H:me:s' }}">
                            <a href="{% url 'team_member_list' pk=object.team.id %}">{{ object.team.name }}</a></td>
                        <td>{{ object.name|default_if_none:'' }}</td>
                        <td>{{ object.type_code.name|default_if_none:'' }}</td>
                        <td>{{ object.comment|default_if_none:'' }}</td>
                        <td class="text-center"><button class="button update" onclick="changeToEditMode(this,'/base/business/api/')">수정</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </article>
{% endblock %}
