{% extends 'common/base.html' %}
{% load static %}
{% block title %}
    메뉴 관리
{% endblock %}
{% block header %}
    <script type="text/javascript" src="{% static 'apps/menu/menu/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/menu/menu/css/list.css' %}">

{% endblock %}
{% block contents %}
    <section style="margin-left:2%;display:grid;grid-template-columns:48%50%;grid-gap:2%;">
    {% csrf_token %}
        <article id="list">
            <input type="hidden" name="object_list" value="{{ tree_data }}">
            <article class="tree-container" id="tree-container"></article>
        </article>

        <article id="object" class="tab-container">
            <ul class="tab header switch-tab-list">
                <li class="detail act">상세</li>
                <li class="hidden" data-name="permission">권한</li>
            </ul>
            <section class="body box-shadow-below-diagonal">
                <section id="tree">
                    <form id="menuForm">
                        <input type="hidden" name="id">
                        <input type="hidden" name="root_id">
                        <input type="hidden" name="parentIndex">
                        <input type="hidden" name="level">
                        <input type="hidden" name="parentId">
                        <input type="hidden" name="nodeIndex">
                        <table class="table" id="menu-table">
                            <tbody>
                                <tr><th>상위 메뉴</th><td><input type="text" class="form-element-default" name="parent_title" readonly></td></tr>
                                <tr><th>메뉴명</th><td><input type="text" name="title" class="form-element-default" required> </td></tr>
                                <tr><th>메뉴 배치 순서</th><td><input type="number" name="order" class="form-element-default" required> </td></tr>
                                <tr><th>메뉴 표기 여부</th><td><input type="checkbox" name="is_visible" class="form-element-default"> </td></tr>
                                <tr><th>화면 제공 여부</th><td><input type="checkbox" id="is-screen" name="is_screen" class="form-element-default"> </td></tr>
                                <tr class="hidden">
                                    <th>기준 화면</th>
                                    <td><select class="form-element-default" name="screen_id" id="screen-id">
                                    {% for screen in screen_list %}
                                        <option value="{{ screen.id }}">{{ screen.title }}</option>
                                    {% endfor %}
                                    </select></td>
                                </tr>
                                <tr class="hidden"><th>url</th><td><input type="url" name="url" id="url" class="form-element-default"></td></tr>
                                <tr class="hidden">
                                    <th>화면 표기용 비고</th>
                                    <td><input type="text" name="user_comment" id="user-comment" class="form-element-default"> </td>
                                </tr>
                                <tr>
                                    <th>모바일 지원 여부</th>
                                    <td><input type="checkbox" name="is_mobile_support" class="form-element-default"> </td>
                                </tr>
                                <tr>
                                    <th>메뉴 설명</th>
                                    <td><textarea class="form-element-default" name="description">{{ object.title }}</textarea></td>
                                </tr>

                                <tr><th>guide 파일</th><td>{% include 'file_box/file_box.html' %}</td></tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="buttonToolbar" colspan="2">
                                        <span class="button save" id="menu-save-button">등록</span>
                                        <input type="reset" class="button reset" value="초기화">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </section>
                <section id="menu-permission" class="hidden">
                    <table class="table table-bordered" id="table2">
                        <thead>
                            <tr>
                                <th>사용자</th>
                                <th>저장</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody class="input-row">
                            <tr>
                                <td>
                                    <select class="form-element-default" name="account_id">
                                        <option value=""></option>
                                        {% for account in account_list %}
                                            <option value="{{ account.id }}"> {{ account.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="text-center">
                                    <span class="button add"
                                          onclick="defaultPost(event, 'tr','{% url 'menu_permission_api' %}' )">등록</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody id="menu-permission-tbody">
                        </tbody>
                    </table>
                </section>
            </section>
        </article>
    </section>
    {% include 'common/modal/delete_rows_modal.html' %}
{% endblock %}