.input-file-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 2.5;
}

.input-file-container .button.choose{
    background-image:linear-gradient(to bottom,#64edc1 0,#79a5ca 70%);
    width:max-content;
    padding: 0 15px;
}

.select-file-describer{

    border:1px solid #cecece;
    border-radius: 4px;
    padding: 0 5px;
}
.select-file-describer::before{
    content:'대상 : ';
}