{% extends "common/base.html" %}
{% block title %}테스트 화면{% endblock %}
{% load static %}
{% block header %}
    <script type="text/javascript" src="{% static 'apps/system/test/tui-calendar-usage/js/func.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/system/test/tui-calendar-usage/css/template.css' %}">
{% endblock %}
{% block contents %}
{% csrf_token %}
    <article class="context-horizontal-center">
    <div class="calendar-container" id="calendar" style="width:800px;height:800px">

    </div>
    <div class="gant-chart-container">

    </div>
    </article>
{% endblock %}