{% extends "common/base.html" %}
{% load static %}
{% block title %}사용자 정보 수정{% endblock %}
{% block header %}
    {% include 'common/header/form_header_base.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/system/account/css/pw_update_account.css' %}">
    <script type="text/javascript" src="{% static 'apps/system/account/js/update_password.js' %}"></script>
{% endblock %}

{% block contents %}
    <article class="context-center">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ object.id }}">
            <input type="hidden" name="username" value="{{ object.username }}">
            <article class="list-default">
                <section>
                    <p>
                        <span class="field-label">사용자 계정</span>
                        <span>{{ object.username }}</span>
                    </p>
                </section>
                <section>
                    <p class="field-label flex">현재 비밀번호 <span class="chk_pw" onclick="confirmPassword('{{ object.id }}');">비밀번호 확인</span></p>
                    <input type="password" name="current_password" class="form-element-default">
                </section>
                <section class="hidden">
                    <p class="field-label">새 비밀번호</p>
                    <input type="password" name="password" class="form-element-default">
                    <span style="color: red; display: inline-block; margin-left:5px;" id="passText"></span>
                </section>
                <section class="hidden">
                    <p class="field-label">새 비밀번호 확인</p>
                    <input type="password" name="new_password_check" class="form-element-default">
                    <span style="color: red; display: inline-block; margin-left:5px;" id="passChkText"></span>
                </section>
                <section class="buttonToolbar text-right">
                    <span class="button save" onclick="updatePassword();">변경</span>
                    <input type="button" class="button cancel" onclick="history.back();" value="취소">
                </section>
            </article>

        </form>
    </article>
{% endblock %}