{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!------------------------------------------------ third module  -------------------------------------------------->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="{% static 'third/js/third_lib/jquery-latest.js' %}"></script>
{#  <script src="{% static 'third/js/third_lib/jquery-ui.min.js' %}"></script>#}
{#  <link rel="stylesheet" href="{% static 'common/css/jquery-ui.min.css' %}">#}
{#  <script src="{% static 'third/js/third_lib/jquery.ui.touch-punch.min.js' %}"></script>#}
{##}
{#  <link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap.min.css' %}">#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap-theme.min.css' %}">#}
{#  <script type="text/javascript" src="{% static 'third/js/third_lib/bootstrap.min.js' %}"></script>#}
{##}
    <script type="text/javascript" src="{% static 'third/js/third_lib/moment-with-locales.js' %}"></script>
    <script src="{% static 'third/js/third_lib/moment.min.js' %}"></script>
{#  <script type="text/javascript" src="{% static 'third/js/third_lib/bootstrap-datetimepicker.min.js' %}"></script>#}
{##}
{#  <script type="text/javascript" src="{% static 'third/js/third_lib/jquery.tablesorter.combined.min.js' %}"></script>#}
{#  <script type="text/javascript" src="{% static 'third/js/third_lib/jquery.tablesorter.min.js' %}"></script>#}
{#  <script type="text/javascript" src="{% static 'third/js/third_lib/jquery.tablesorter.widgets.min.js' %}"></script>#}


    <script type="text/javascript" src="{% static 'third/js/third_lib/xlsx.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/Blob.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/FileSaver.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/tableexport.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/Chart.js' %}" ></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/chartjs-plugin-datalabels.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/jszip-utils.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/choices.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/pdfobject.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/exceljs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/table2excel.core.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/html2canvas.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="{% static 'third/js/third_lib/qrcode.min.js' %}"></script>

    <!------------------------------------------------ tui calendar --------------------------------------------------->
    <!-- check script load order  https://github.com/nhn/tui.calendar/issues/285 -->
    <!--
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    -->
    <!------------------------------------------------ fontawesome --------------------------------------------------->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'third/fontawesome-free-6.4.2-web/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'third/fontawesome-free-6.4.2-web/css/all.css' %}">
    <script type="text/javascript" src="{% static 'third/fontawesome-free-6.4.2-web/js/fontawesome.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third/fontawesome-free-6.4.2-web/js/all.min.js' %}"></script>
    -->


    <!------------------------------------------------ common  -------------------------------------------------------->
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/choices.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/tableexport.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/modal.css' %}">
    <script type="text/javascript" src="{% static 'common/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/modal.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/template.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/tree.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/table.css' %}">
    <script type="text/javascript" src="{% static 'common/js/nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/tree.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/table.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/form_control.js' %}"></script>

  {% block header %}
  {% endblock %}
</head>

<body class="grid-left-top-main-container">
    <!------------------------------------------------------ navigation menu ------------------------------------------>
    <side class="grid-left">
        {% include "common/nav.html" %}
    </side>
    <!------------------------------------------------------ icon menu  ----------------------------------------------->
    <header class="grid-header">
        {% if request.user.is_authenticated %}
        <article class="list-default">
            <section style="display:grid;grid-template-columns:70%30%">
                <section>not fixed area</section>
                <section class="left-icon-menu">
                    <section class="tab-container">
                        {% csrf_token %}
                        <section class="float-right">
                            <ul class="tab header">
                                <li><span class="icon-user"></span></li>
                                <li><span class="icon-star"></span></li>
                                <li><span class="icon-bell"></span></li>
                                <li><span class="icon-question"></span></li>
                            </ul>
                        </section>
                        <section class="tab body">
                            <table class="table animatable dropdown-height" area-expended="false">
                                <tr><th>사용자 메뉴</th></tr>
                                <tr><td><a class="" href="{% url 'update_account' pk=request.user.id %}"><span class="func_title">정보수정</span></a></td></tr>
                                <tr><td><a class="" href="#" onclick="logoutSystem();"><span class="func_title">로그아웃</span></a></td></tr>
                            </table>
                            <table class="table animatable dropdown-height" area-expended="false">
                                <tr><th>자주 가는 메뉴</th></tr>
                            </table>
                            <table class="table animatable dropdown-height" area-expended="false">
                                <tr><th>알림</th></tr>
                            </table>
                            <table class="table animatable dropdown-height" area-expended="false">
                                <tr><th>화면 가이드</th></tr>
                                {% if request.user.is_authenticated and request.path != '/home/' %}
                                <tr>
                                    <th>
                                        <button class="button border-none download">문서</button>
                                    </th>
                                </tr>
                                {% endif %}
                                {% if screen_user_comment %}
                                <tr>
                                    <th>
                                        <div class="tooltip buttonToolbar">
                                            <span class="button information" onclick="showTooltip([-100,50])">설명</span>
                                            <div class="tooltip-text box-shadow-below-diagonal" >{{ screen_user_comment|linebreaksbr }}</div>
                                        </div>
                                    </th>
                                </tr>
                                {% endif %}
                            </table>
                        </section>
                    </section>
                </section>
            </section>
        </article>
    {% endif %}
    </header>
    <!------------------------------------------------------ main container  ------------------------------------------>
    <main class="grid-main">
        <section class="text-left screen-title flex-between">
            <h3 style="text-indent:100px;font-weight:bold" id="document-title">{% block title %}(no title){% endblock %}
            </h3>
        </section>
        {% block contents %}
        {% endblock %}
    </main>

    <!------------------------------------------------ common modal  -------------------------------------------------->
    {% include 'common/modal/load_bg.html' %}
    {% include 'common/modal/delete_rows_modal.html' %}
</body>

</html>
