{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'components/accounting_search_form/accounting_search_form.css' %}">
<article class="accounting-panel">
    <form method="get" onsubmit="removeEmptyValue(event)" id="search_form">
        <section>
            <section class="panel panel-default">
                <section class="panel-heading text-center">
                    <p class="title">검색 조건</p>
                </section>
                <section class="panel-body horizontal-vertical-container list-default">
                    <article class="search-field-row">
                        <span class="text-description text-container">년 </span>
                        <input type="number" min="2021" max="{% now 'Y' %}" maxlength="4" minlength="4" class="form-element-default input year" name="year"
                        value="{{ year }}">
                    </article>
                    <section class="buttonToolbar text-right" style="border:none;">
                        <input type="submit" class="button search" value="조회">
                        <input type="reset" class="button clear" value="초기화">
                    </section>
                </section>
            </section>
        </section>
    </form>
<section class="hidden selected-option-container">

</section>
</article>