.table {
    width:100%;
}
#default-table tr:first-child{
    border-top:2px solid #9caab9;
}

#default-table th, #function-table th{
    background: #f1f3f6;
    border-left:none;
    border-right:none;
    font-weight: bold;
    font-size:17px;
}
#default-table td, #function-table td{
    border-right:none;
    border-left:none;
}
img {
    width:300px;
    cursor:pointer;
}
.grid-column-pair{
    grid-gap:1%;
}