{% load static %}
<!-- 이미지 slide 기능 설명 : slide.js -->
<script type="text/javascript" src="{% static 'js/common/slide.js' %}"></script>
<div class="slide-img-box">
    <img class="slide-img"/>
    <div class="slide-img-control-bar" style="font-size:20px;">
        <span class="glyphicon glyphicon-arrow-left" style="cursor:pointer" data-value="-1"></span>
        <span class="img-index">0</span>
        <span>of</span>
        <span class="slide-img-cnt">0</span>
        <span class="glyphicon glyphicon-arrow-right" style="cursor:pointer" data-value="1"></span>
    </div>
</div>

<script type="text/javascript">


</script>