{% extends 'common/base.html' %}
{% load static %}
{% block header %}
    <script type="text/javascript" src="{% static 'apps/menu/menu_permission_group/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/menu/menu_permission_group/css/list.css' %}">
{% endblock %}
{% block title %}
    메뉴 권한 그룹 관리
{% endblock %}
{% block contents %}
    <article class="context-horizontal-center">
        <section class="list-default">
        <section class="buttonToolbar flex-between" dir="rtl">
            <section>
                <button id="table-delete" class="button delete">정보 삭제</button>
            </section>
            <section>
                <p>조회량 전체: <span style='color:red;'>　{{object_list|length}}</span></p>
            </section>
        </section>
        <table class="table table-bordered" id="table">
            <colgroup>

            </colgroup>
            <thead>
                <th>권한 명</th>
                <th>등록자</th>
                <th>권한 소지자 명단</th>
                <th>권한 등록일</th>
                <th>권한 상세</th>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.group_name }}</td>
                        <td>{{ object.access_log.account.name }}</td>
                        <td></td>
                        <td>{{ object.create_dt }}</td>
                        <td><a href="{% url 'menu_permission_group_update' pk=object.id %}">이동</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </article>
{% endblock %}