{% extends 'common/base.html' %}
{% load static %}
{% block header %}
    {% include 'common/header/complex_header_base.html' %}
    <script type="text/javascript" src="{% static 'apps/base/yearly_independent_adjustment_budget_code/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/base/yearly_independent_adjustment_budget_code/css/list.css' %}">
{% endblock %}
{% block title %}
    년도별 조정액 독립 계산 예산 과목 내역
{% endblock %}
{% block contents %}
    <article class="context-horizontal-center">
        <section class="list-default">
        {% if screen_user_comment %}
        <div class="tooltip buttonToolbar">
            <span class="button information" onclick="showTooltip()">화면 설명</span>
            <div class="tooltip-text">{{ screen_user_comment|linebreaksbr }}</div>
        </div>
        {% endif %}
        <section class="buttonToolbar flex-between">
            <section>
                <p>조회량 전체: <span style='color:red;'>　{{object_list|length}}</span></p>
            </section>
            <section>
                <button id="table-delete" class="button delete">정보 삭제</button>
            </section>
        </section>
        <table class="table table-bordered" id="table">
            <colgroup></colgroup>
            <thead>
                <th>년도</th>
                <th>예산과목</th>
                <th>설명</th>
                <th>기능</th>
            </thead>
            <tbody class="input-row">
                <tr>
                    {% csrf_token %}
                    <td>
                        <input type="hidden" name="group_code_id" value="{{ group_code_id }}">
                        <select name="year" id="year" class="form-element-default">
                            {% for year in year_list %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-element-default" name="budget_code_id" id="budget_code_id">
                        </select>
                    </td>
                    <td><textarea class="form-element-default" name="comment"></textarea></td>
                    <td class="text-center"><input class="button add" type="submit" value="등록"
                                                   onclick="defaultPost(event, 'tr' ,'/base/yearly-independent-adjustment-budget-code/api')"></td>
                </tr>
            </tbody>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td class="text-right">
                            <input type="hidden" name="budget_code_id" value="{{ object.budget_code.id }}">
                            <input type="hidden" name="id" value="{{ object.id }}">
                            {{ object.year }}</td>
                        <td>{{ object.budget_code.name}}</td>
                        <td>{{ object.comment|default_if_none:'' }}</td>
                        <td class="text-center"><button class="button update"
                                                        onclick="changeToEditMode(this,'/base/yearly-independent-adjustment-budget-code/api')">수정</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </article>
{% endblock %}