{% extends 'common/base.html' %}
{% load static %}
{% block header %}
    <script type="text/javascript" src="{% static 'apps/menu/screen/js/list.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/menu/screen/css/list.css' %}">
{% endblock %}
{% block title %}
    화면 관리
{% endblock %}
{% block contents %}
    <article class="context-horizontal-center">
    {% csrf_token %}
        <section class="list-default">
        <section class="buttonToolbar flex-between">
            <section>
                <p>조회 수량 총 대상 갯수  <span style='color:red;'>{{object_list|length}} </span> 개 입니다.</p>
            </section>
        </section>
        <table class="table table-bordered" id="table">
            <colgroup>
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2"><label for="title">화면명</label></th>
                    <th rowspan="2"><label for="url">URL</label></th>
                    <th rowspan="2"><label for="usage">용도</label></th>
                    <th rowspan="2"><label for="comment">비고</label></th>
                    <th colspan="6">기능</th>
                    <th rowspan="2">수정</th>
                </tr>
                <tr>
                    <th><label for="have_search">조회</label></th>
                    <th><label for="have_create">생성</label></th>
                    <th><label for="have_update">수정</label></th>
                    <th><label for="have_delete">삭제</label></th>
                    <th><label for="have_upload">업로드</label></th>
                    <th><label for="have_download">다운로드</label></th>
                </tr>
            </thead>
            <tbody class="input-row">
                <tr>
                    <td><input type="text" class="form-element-default" id="title" name="title" required></td>
                    <td><input type="text" class="form-element-default" id="url" name="url" required></td>
                    <td><input type="text" class="form-element-default" id="usage" name="usage" required></td>
                    <td><input type="text" class="form-element-default" id="comment" name="comment"></td>
                    <td><input type="checkbox" class="form-element-default" id="have_search" name="have_search"></td>
                    <td><input type="checkbox" class="form-element-default" id="have_create" name="have_create"></td>
                    <td><input type="checkbox" class="form-element-default" id="have_update" name="have_update"></td>
                    <td><input type="checkbox" class="form-element-default" id="have_delete" name="have_delete"></td>
                    <td><input type="checkbox" class="form-element-default" id="have_upload" name="have_upload"></td>
                    <td><input type="checkbox" class="form-element-default" id="have_download" name="have_download"></td>
                    <td class="text-center"><input class="button add" type="submit" value="등록" onclick="defaultPost(event, 'tr' ,'/menu/screen/api')"></td>
                </tr>
            </tbody>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <input type="hidden" name="id" value="{{ object.id }}">{{ object.title }}</td>
                        <td>{{ object.url }}</td>
                        <td>{{ object.usage }}</td>
                        <td>{{ object.comment }}</td>
                        <td><input type="checkbox" name="have_search" value="object.have_search"
                        {% if object.have_search %}checked{% endif %} class="form-element-default" disabled></td>
                        <td><input type="checkbox" name="have_create" value="object.have_create"
                        {% if object.have_create %}checked{% endif %} class="form-element-default" disabled></td>
                        <td><input type="checkbox" name="have_update" value="object.have_update"
                        {% if object.have_update %}checked{% endif %} class="form-element-default" disabled></td>
                        <td><input type="checkbox" name="have_delete" value="object.have_delete"
                        {% if object.have_delete %}checked{% endif %} class="form-element-default" disabled></td>
                        <td><input type="checkbox" name="have_upload" value="object.have_upload"
                        {% if object.have_upload %}checked{% endif %} class="form-element-default" disabled></td>
                        <td><input type="checkbox" name="have_download" value="object.have_download"
                        {% if object.have_download %}checked{% endif %} class="form-element-default" disabled></td>
                        <td class="text-center"><button class="button update" onclick="changeToEditMode(this, '/menu/screen/api')">수정</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>
    </article>
{% endblock %}